<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>

		<add name="DBConnection"
			 connectionString="data source=DESKTOP-HFSR1GE\MSSQLSERVER01;initial catalog=AmortizationSchedules;integrated security=True"
			 providerName="System.Data.SqlClient" />

	</connectionStrings>
</configuration>